body {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    background-color: #ffd966;
    color: white;
    margin: 0;
    padding: 0;
}

.app-title, .login-form > h1 {
    font-size: 25px;
    color: white;
    margin: 12px 0;
}

input, select {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    color: black;
    background-color: white;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    color: black;
    background-color: lightgreen;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}
