<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>2k4 - Computer Management Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <main>
        <h1 class="page-title" th:text="${formMode == 'edit'} ? 'Edit' : 'Create'">Edit | Create</h1>
        <form th:action="@{'/computers/save'}" method="POST" th:object="${selectedOne}">
            <input type="hidden" th:field="*{computer_id}"/>
            <input type="hidden" name="formMode" th:value="${formMode}">
            <div>
                <label for="computer_model">computer_model:</label>
                <input type="text" id="computer_model" th:field="*{computer_model}" required/>
                <span th:if="${#fields.hasErrors('computer_model')}"
                      th:errors="*{computer_model}">Name is required!</span>
            </div>
            <div>
                <label for="type">type:</label>
                <input type="text" id="type" th:field="*{type}" required/>
                <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
            </div>
            <div>
                <label for="production_year">production_year:</label>
                <input type="text" id="production_year" th:field="*{production_year}" required/>
                <span th:if="${#fields.hasErrors('production_year')}" th:errors="*{production_year}"></span>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" th:field="*{price}" required step="any"/>
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price must be between 1...1000 </span>
            </div>
            <div>
                <label for="manufacturer_id">manufacturer:</label>
                <select id="manufacturer_id" th:field="*{manufacturer.manufacturer_id}" required>
                    <option th:each="c : ${vars}"
                            th:value="${c.manufacturer_id}"
                            th:text="${c.manufacturer_name}"
                            th:selected="${selectedOne.manufacturer != null and selectedOne.manufacturer.manufacturer_id == c.manufacturer_id}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('manufacturer.manufacturer_id')}"
                      th:errors="*{manufacturer.manufacturer_id}"></span>
            </div>
            <div>
                <button type="submit">Save</button>
                <a th:href="@{/computers}">Cancel</a>
            </div>
        </form>
    </main>
</div>
</body>
</html>
