<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xml:lang="en">
<head>
    <meta charset="UTF-8">
    <title>2k4 - Computer Management Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <span>Hello, <span th:text="${session.loggedInUser.getEmail()}"></span></span>
    <a th:href="@{/logout}">Logout</a>
</div>

<div>
    <h1 class="page-title">List</h1>
    <div>
        <form th:action="@{/computers}" method="get">
            <input type="text" th:value="${keyword}" name="keyword" placeholder="Search by some field"/>
            <button type="submit">Search</button>
        </form>
    </div>

    <div th:if="${session.loggedInUser.role == 'Admin'}">
        <a th:href="@{/computers/create}">Create</a>
    </div>

    <div th:if="${cpts.isEmpty() and param.keyword != null}">
        No products found matching keyword "<span th:text="${param.keyword}"></span>".
    </div>

    <table th:if="${!cpts.isEmpty()}" border="1">
        <thead>
        <tr>
            <th>computer_model</th>
            <th>type</th>
            <th>production_year</th>
            <th>price</th>
            <th>manufacturer</th>
            <th th:if="${session.loggedInUser.role == 'Admin'}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${cpts}">
            <td th:text="${a.computer_model}"></td>
            <td th:text="${a.type}"></td>
            <td th:text="${a.production_year}"></td>
            <td th:text="${a.price}"></td>
            <td th:text="${a.manufacturer.manufacturer_name}"></td>
            <td th:if="${session.loggedInUser.role == 'Admin'}">
                <a th:href="@{'/computers/edit/' + ${a.computer_id}}">Edit</a>
                <a th:href="@{'/computers/delete/' + ${a.computer_id}}" onclick="return confirm('Are you sure you want to delete this ?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
