<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>StudentCode - Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body class="red-bg login-page">
<div class="container">
    <h1 class="app-title">StudentCode - Login Page</h1>
    <form th:action="@{/auth}" method="post" class="login-form login-fields">
        <h1>Login</h1>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div th:if="${error}" class="error-message" th:text="${error}">Login Error</div>
        <div class="form-group-button">
            <button type="submit" class="transparent-button">Login</button>
        </div>
    </form>
</div>
</body>
</html>
